.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-size: 16px;
  position: relative;
}

.circle.active {
  background-color: var(--secondary);
  color: var(--primary);
}

.circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}